.chat-btn {
	background-color: #2b8fd1; /* Fondo verde */
	border: none;
	color: white;
	padding: 10px;
	position: fixed;
	right: 40px;
	bottom: 60px;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	z-index: 999;
}

.chat-btn i {
	font-size: 40px;
}

.chat-box {
	background-color: #fff; /* Fondo blanco */
	border: 1px solid #ccc;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	padding: 10px;
	position: fixed;
	right: 40px;
	bottom: 90px;
	display: none;
}

.chat-box h3 {
	margin-top: 0;
}

.chat-box p {
	margin-bottom: 0;
}

